.menu-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #374151;
    align-items: center;
}

.logo-container {
    display: flex;
}

.logo-wrapper {
    display: flex;
}

.logo-movie {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

.logo-explorer {
    font-weight: bold;
    padding: 0px 50px 0px 5px;
    color: #FF0000;
    font-size: 1.5em;
}
